# Exclude everything ...
*
# But look into subdirs ...
!*/
# And include everything in mods ...
!/Mods/**
# And only the stuff we want in prefabs ...
!/Data/Prefabs/deco_copper_vein.*
!/Data/Prefabs/deco_zinc_vein.*
# Or this file.
!.gitignore
